# Database Configuration
DATABASE_URL=postgresql://username:password@localhost/grademind

# Security
SECRET_KEY=YOUR_SECRET_KEY

# Application Settings
DEBUG=True
AUTH_ENABLED=false
PROJECT_NAME="GradeMIND Backend"
PROJECT_VERSION="1.0.0"

# Groq API Configuration
GROQ_API_KEY=YOUR_GROQ_API_KEY
GROQ_MODEL=llama3-70b-8192
